!!!
%head
  %title Food for life
  <!-- @include _head-meta.haml -->
  <!-- For all browsers -->
  <!-- @stylesheet style -->
  %link{:href => "http://fonts.googleapis.com/css?family=Quicksand|Roboto:300,700", :rel => "stylesheet", :type => "text/css"}

  <!--[if (lt IE 9) & (!IEMobile)]>
  <!-- @javascript selectivizr-min -->
  <!-- @stylesheet lte-ie8 -->
  <![endif]-->

  <!-- JavaScript -->
  <!-- @javascript head.load.min -->

  <!-- @include _head-icons.html -->
  <!-- @include _head-ios.html -->
  <!-- @include _head-ios-startup.html -->
  <!-- @include _head-windows.html -->
  %body
    #container
      .grid
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
      .mobGrid
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
      %header
        %nav
      %section
        .ingredientsbig
        .ingredients
        .ingredients
      %footer
  <!-- @include _scripts.html -->

