@import "vendor/neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
//$column: 90px;
$gutter: 10px;
$column:69px;
$grid-columns: 14;
$max-width: em(1200);
$visual-grid: true;

// Define your breakpoints
$bp2: new-breakpoint(max-width 480px 8);
$bp3: new-breakpoint(max-width 640px 14);
$bp4: new-breakpoint(max-width 768px 14);
$bp5: new-breakpoint(max-width 960px 14);
$bp6: new-breakpoint(min-width 960px 14);

